//colors


$background:lightgray;
$primary-font:#2c2d2d;

//fonts

$hero-large:100px;
$hero-small:18px;

$heading-large:70px;
$content-medium:16px;



//global classes

.reset{
margin:0;
padding:0;
}

