.full{
width:100%;
margin:0 auto;
	.my-navigation{
		position: absolute;
		z-index: 1;
		max-width:1440px;
		border-bottom: 1px solid black;
		
		.navbar-brand{
			font-size: 25px;
			font-weight: 900;
			
			&:hover{
				text-decoration: none;
				transform: scale(1.06);
				transition: 0.5s ease-in-out;
				color:$primary-font;
			}
		}
		
		a{
			
			font-weight:700;
			color:$primary-font;
			margin:20px 20px 0px 20px;
			&:hover{
				text-decoration: underline;
			}
			
		}
		
	}

	.text{
		position: absolute;
		z-index: 2;
		top:40%;
		margin:0 auto;
		
		h1{
			font-size: $hero-large;
			font-weight: 900;
			text-align: center;
			color:$primary-font;
			padding:0px 60px;
		}
		p{
			font-size: $hero-small;
			font-weight: 600;
			padding:0px 20px;
			text-align: center;
		}
	}
	
}


//fixed nav class

.fixed{
	position: fixed;
	background-color:blue;
	a{
		margin: 0px;
	}
}